<ion-slides class="listSlidesCars" [options]="slideOpts">
    <ion-slide *ngFor="let item of garage">

        <ion-card>
            <div style="margin-bottom: -1vh !important;">
                <img class="imgCard" src="{{item.img}}" alt="">
            </div>
            <ion-card-content class="contentCardProfile">
                <div style="margin-top: -1vh !important;" class="headerCard">
                    <p class="topText">{{item.model}}</p>
                    <div style="margin-right: 1vh !important;">
                        <p class="topText">{{item.price}}</p>
                    </div>
                </div>
                <div>
                    <p>{{item.km}} KM</p>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide class="seeMoreMovies">
        <ion-button expand="full" class="btnMore" size="large" (click)="addCarItem()">
            <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-slide>
</ion-slides>