.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vw;
    height: auto;
    width: auto;
    background-color: #FFFFFF !important;
}

.logoLogin {
    margin-top: -1vh !important;
    height: 15vw;
    width: 14vw;
}

.actionSheetTop {
    display: flex !important;
    justify-content: flex-start !important;
}

.closeSesion {
    height: 3vh
}

.dotsOptions {
    height: 3vh;
}