.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto !important;
    width: 100%;
    background-color: #FFFFFF !important;
    padding: 5vw !important;
    margin: 0px !important;
    align-items: center;
}

.backBtnArrow {
    height: 10vh;
    width: 6vw;
    border: 1px solid;
}

.helperText {
    margin-top: 1px !important;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 5vh;
    line-height: 18px;
    color: #676767;
}

.contentLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px !important;
    margin-right: 16px !important;
    margin-top: 10px !important;
}

.welcomeTitle {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 3.5vh;
    line-height: 34px;
    /* identical to box height */
    color: #000000;
    margin-top: -2vh !important;
}

.accText {
    margin-top: 1vh !important;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3vh;
    line-height: 22px;
    color: #949494;
    margin-top: -2vh !important;
}

.iconAling {
    margin-right: 1vw;
}

.itemInput {
    margin-top: 3vh !important;
    margin-left: -5vw;
}

.loginSingUp {
    width: 100%;
    height: 80%;
    background: #FB6401;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    margin: 0 auto;
}

.alingLoginBtn {
    width: 92%;
    margin: 0 auto;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 10vh;
    margin-top: 2vh;
    /* or 49px */
    color: #FFFFFF !important;
    margin-top: 5vh !important;
}

.btnLogin {
    color: #FFFFFF;
    --background: #FB6401;
    border-radius: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    --background-activated: var(--background)
}

.labelsInputs {
    margin-left: 6vw
}

.accTextUploadImg {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3vh;
    line-height: 22px;
    color: #000000;
    margin-top: 4vh !important;
}

.listImgs {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    align-items: center;
}

.alingLoginBtnFixed {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 6vh;
    margin-top: 2vh;
    /* or 49px */
    color: #FFFFFF !important;
    width: 100%;
    margin: 0 auto;
    --background-activated: var(--background: #FF8A3D);
    margin-top: 5vh;
    padding-bottom: 6vh !important;
}

.alingLoginBtn {
    margin: 0 auto;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 10vh;
    margin-top: 2vh;
    /* or 49px */
    color: #FFFFFF !important;
    margin-top: 5vh !important;
    width: 92%;
    margin: 0 auto;
    border-radius: 30px;
    height: 8vh !important;
}

.btnLogin {
    height: 8vh !important;
    color: #FFFFFF;
    --background: #FB6401;
    font-size: 2.5vh;
    border-radius: 35px !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    --background-activated: var(--background)
}

.btnDontHaveAcc {
    color: #FB6401;
    --border-color: #FB6401;
    width: 92%;
    font-size: 2vh !important;
    height: 8vh !important;
    margin: 0 auto;
    --background-activated: #FB6401;
    margin-bottom: 5vh !important;
}

.addImgButton {
    color: #FFFFFF;
    --background: #FF8A3D;
    height: 9vh !important;
    width: 9vh !important;
    --background-activated: #FF8A3D;
    border-radius: 5vw !important;
}

.addImgButton>ion-icon {
    font-size: 10vh;
}

.addedIMG {
    height: 9vh !important;
    width: 9vh !important;
    margin-top: 1vh;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    border-radius: 12px !important;
}

.labelsInputs {
    margin-left: 6vw;
    padding-top: 1vh;
}

.labelsInputsPass {
    margin-left: 6vw;
    padding-top: 1.6vh !important;
}

.itemInputPass {
    margin-right: -3vh !important;
}