<app-header-menu></app-header-menu>

<ion-content>

    <div class="ion-padding">

        <div class="headersFields">
            <p>
                Busca por modelo o marca
            </p>
        </div>

        <div class="searchBarContent">


            <ion-input (ionChange)="changeFilter($event)" style="background-color: white;" type="text" placeholder="Buscar" clearInput></ion-input>

            <div class="btnSearch">
                <img src="../../../../assets/icon/tabsIcons/lupita.png" alt="">
            </div>

        </div>
    </div>

    <div style="margin-top: 5vh;">
        <ion-list>
            <div *ngFor="let item of listCars | filter : filterText;" class="carItems">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <div class="">

                                <div class="ItemsConfigurationVertical carInfo">

                                    <div class="cut-text carTitle">
                                        <p class="cut-text carTitle">{{item.model}}</p>
                                    </div>

                                    <p class="carSubtitle">
                                        S60 2019
                                    </p>
                                    <p class="carPrice">25.000€</p>
                                </div>
                            </div>

                        </ion-col>
                        <ion-col size="6">
                            <div class="imgCarItem">
                                <img src="../../../../assets/icon/carslist/usc90voc172b021003 1.png" alt="">
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </div>
        </ion-list>


    </div>

</ion-content>