<ion-tabs>
    <ion-tab-bar slot="bottom,top" style="border-radius: 20px 20px 0px 0px; height: 10vh;">
        <ion-tab-button tab="home-page">
            <div class="iconHome">
                <img src="../../../assets/icon/tabsIcons/home.png" alt="">

            </div>
        </ion-tab-button>
        <ion-tab-button tab="search-page">
            <div class="iconHome">
                <img src="../../../assets/icon/tabsIcons/lupa.png" alt="">

            </div>

        </ion-tab-button>
        <ion-tab-button tab="add_page">
            <div class="imgCenterAdd">

                <img class="imgAdd" src="../../../assets/icon/tabsIcons/Vector 7.png" alt="">
            </div>

        </ion-tab-button>
        <ion-tab-button tab="section-page">
            <div class="iconHome">
                <img src="../../../assets/icon/tabsIcons/loyalty_black_24dp 1.png" alt="">

            </div>

        </ion-tab-button>
        <ion-tab-button tab="tab3">
            <div class="iconHome">
                <img src="../../../assets/icon/tabsIcons/mail.png" alt="">

            </div>

        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>