.imgCenterAdd {
    background: #FB6401;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    height: 7vh;
    width: 7vh;
    align-items: center;
    border-radius: 30px;
}

.imgAdd {
    align-items: center;
    margin-top: 2vh;
}