<ion-slides class="listSlidesCars" [options]="slideOpts">
    <ion-slide *ngFor="let item of [1,2,3,4,5,6]">
        <ion-card>
            <div>
                <img src="../../../assets/3Mtm48iVUy2crD1pKtAP 1.png" alt="">
            </div>
            <ion-card-content>

                <div class="rowContentCard">
                    <div>
                        <p class="titleCardSlides">
                            McLaren MP4-12C
                        </p>
                    </div>
                    <div>
                        <img src="../../../assets/heart_icon.png" alt="">
                    </div>
                </div>

                <div class="row2ContentCard">
                    <div>
                        <p class="titleCardSlidesPrice">
                            60 000€
                        </p>
                    </div>

                    <div class="row3ContentCard">

                        <div>
                            <p class="nameProfileText">
                                Makenna Vaccaro
                            </p>
                        </div>
                        <div>
                            <img src="../../../assets/User Image.png" alt="">
                        </div>


                    </div>
                </div>


            </ion-card-content>
        </ion-card>
    </ion-slide>
</ion-slides>