<ion-slides class="listSlidesCars" [options]="slideOpts">
    <ion-slide *ngFor="let item of listCars">
        <ion-card>
            <div>
                <img class="controlImg" src="{{item.img}}" alt="">
            </div>
            <ion-card-content>

                <div class="rowContentCard">
                    <div>
                        <p class="titleCardSlides">
                            {{item.model}}
                        </p>
                    </div>
                    <div *ngIf="!profileList">
                        <img *ngIf="!isFav(item)" (click)="onClickAddRemoveFav(item)" src="../../../assets/heart_icon.png" alt="">
                        <img *ngIf="isFav(item)" (click)="onClickAddRemoveFav(item)" style="height: 2vh;" src="../../../assets/hhhhhhhhhhhh.png" alt="">
                    </div>
                    <div *ngIf="profileList">

                        <img (click)="removeInsideFavs(item)" style="height: 2vh;" src="../../../assets/hhhhhhhhhhhh.png" alt="">
                    </div>
                </div>

                <div class="row2ContentCard">
                    <div>
                        <p class="titleCardSlidesPrice">
                            {{item.price}}
                        </p>
                    </div>

                    <div class="row3ContentCard">

                        <div>
                            <p class="nameProfileText">
                                {{item.model}}
                            </p>
                        </div>
                        <div>
                            <img src="../../../assets/User Image.png" alt="">
                        </div>


                    </div>
                </div>


            </ion-card-content>
        </ion-card>
    </ion-slide>

    <!-- Place Holder -->

    <div *ngIf="profileList">


        <ion-slide *ngIf="listFavs == undefined || listFavs.length == 0 ">
            <ion-card>
                <div>
                    <img class="placeHolderImg" src="../../../assets/carPlaceHolder.png" alt="">
                </div>
                <ion-card-content>

                    <div class="rowContentCard">
                        <p class="titleCardSlides">
                            Añade tus coches favoritos
                        </p>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-slide>

    </div>


</ion-slides>