.titleContact {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 7vw;
    color: #000000;
    width: 56% !important;
    display: table-caption;
    word-wrap: normal;
}

.itemInput {
    margin-top: 0vh !important;
    margin-left: -5vw;
}

.btnLogin {
    height: 7vh;
    border-radius: 40px;
}

.alingLoginBtn {
    width: 88% !important;
}

.textAreaInput {
    margin-top: 2vh;
}

.itemInput {
    margin-left: 0vw;
    margin-right: -1.2vh;
}

.itemInputMail {
    margin-top: -3vh !important;
    margin-left: -5vw;
}

.labelsInputs {
    margin-left: 6vw;
    padding-top: 1vh;
}

.labelsInputsPass {
    margin-left: 6vw;
    padding-top: 1.6vh !important;
}

.itemInputPass {
    margin-right: 0vh !important;
}

ion-item {
    --inner-padding-end: -10px;
}

.areaText {
    border: 0.1px solid;
    border-color: rgb(182, 177, 177) !important;
    width: 100%;
    margin-top: 1vh;
}