<div class="headerContent">
    <div>
        <img (click)="onClickBackButton()" src="../../../assets/back_arrow.png" alt="">
    </div>

    <div>
        <p class="helperText" (click)="onClickRecoverAcc()">
            ¿Problemas para acceder?
        </p>
    </div>
</div>

<ion-content>

    <div class="contentLogin">

        <div class="welcomeTitle">
            <p>¡Bienvenido de nuevo!</p>
        </div>

        <div class="accText">
            <p>Ingresa tu cuenta para continuar</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div>

                <ion-item class="itemInput itemInputPass form-control">

                    <ion-label class="labelsInputs" position="floating">Nombre Usuario</ion-label>

                    <ion-input [ngModel]="loginForm.getRawValue().username" formControlName="username" (ionChange)="cleanInputText($event)" type="text" class="form-control">
                        <img class="alingIconsInputs" src="../../../assets/icon_person.png" alt="">
                    </ion-input>

                </ion-item>


                <ion-item class="itemInput itemInputPass form-control">

                    <ion-label class="labelsInputsPass" position="floating">Contraseña</ion-label>
                    <ion-input formControlName="password" [ngModel]="loginForm.getRawValue().password" [type]=" seePass " class="form-control ">
                        <img class="alingIconsInputs " src="../../../assets/icon/keycapclose.png " alt=" ">
                    </ion-input>

                    <ion-icon (click)="onClickSeePass() " class="iconAlingEnd " slot="end" name="eye-outline"></ion-icon>

                </ion-item>
                <div class="remenberText ">
                    <p>
                        Recuerdame la proxima vez
                    </p>

                    <ion-toggle [checked]="loginForm.getRawValue().savedData " formControlName="savedData" mode="md " class="toggleRemember "></ion-toggle>
                </div>

            </div>

            <div class="alingLoginBtn ">
                <ion-button *ngIf="showBtn" type="submit " strong="true " class="btnLogin " expand="block " fill="solid " shape="round ">
                    LOGIN
                </ion-button>


            </div>

        </form>


        <div class="alingLoginBtnFixed ">

            <ion-button *ngIf="showBtn" strong="true " class="btnDontHaveAcc " (click)="onClickDontHaveAcc() " expand="block " fill="outline " shape="round ">
                AUN NO TENGO CUENTA
            </ion-button>


        </div>



    </div>

</ion-content>