<app-header-menu></app-header-menu>

<ion-content class="paddingContent">

    <ion-card class="cardHorizontalHome">

        <div class="headerCardHome">
            <img src="../../../../assets/icon/Ellipse 3.png" alt="">
            <p>Nombre Usuario</p>

        </div>

        <div class="contentCardHome">

            <div class="textCardContent">
                <p>
                    Conduce donde sea con este gran coche.
                </p>
                <div class="btnSeeCarContainer">
                    <ion-button class="btnSeeCar" (click)="onClickSeeThisCarData()" expand="block" fill="clear" shape="round">
                        VER COCHE
                    </ion-button>
                </div>

            </div>
            <div>
                <img src="../../../../assets/Image Card.png" alt="">
            </div>


        </div>


    </ion-card>

    <div>

        <div style="margin-left:3vh !important; margin-right: 3vh;">

            <div class="headerSlides">
                <p>
                    Ultimos coches en venta de segunda mano
                </p>
            </div>

            <div class="subheaderSlides">
                <p>
                    Una amplia gama donde elegir
                </p>
            </div>


        </div>


        <div class="listSlideCars" style="margin-left: 3vh">
            <app-card-slide></app-card-slide>

        </div>

        <div style="margin-left:2.5vh !important; margin-right: 3vh;">

            <div class="headerSlides">
                <p>
                    Ultimo review subido
                </p>
            </div>

            <div class="subheaderSlides">
                <p>
                    Modelo nuevo
                </p>
            </div>

            <div class="inframeVid">

                <!-- <img (click)="onClickOpenVideo()" class="playIcon" src="../../../../assets/Play Icon.png" alt=""> -->

                <iframe class="inframeVid" width="300" height="200" [src]="vid" playsinline="1"></iframe>

            </div>

            <div class="headerSlides ">
                <p>
                    ¿Que estas buscando?
                </p>
            </div>

            <div class="footer_content ">

                <!-- <ion-grid>
                    <ion-row>
                        <ion-col class="containersGrid " size="6">
                            <div style="border-radius: 20px !important" class="containersGrid_1 ">


                                <p class="textGrids ">SUV</p>

                            </div>

                        </ion-col>
                        <ion-col class="containersGrid " size="6">

                            <div class="containersGrid_2 ">

                                <p class="textGrids ">SUV</p>

                            </div>

                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="containersGrid " size="6">
                            <div class="containersGrid_3 ">

                                <p class="textGrids ">SUV</p>

                            </div>
                        </ion-col>
                        <ion-col class="containersGrid " size="6">
                            <div class="containersGrid_4 ">

                                <p class="textGrids ">SUV</p>

                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid> -->

                <div>
                    <div class="gridRows">

                        <div class="containersGrid_1 ">
                            <p class="textGrids ">SUV</p>

                        </div>

                        <div class="containersGrid_2 ">

                            <p class="textGrids ">SUV</p>

                        </div>


                    </div>
                    <div class="gridRows">

                        <div class="containersGrid_3 ">

                            <p class="textGrids ">SUV</p>

                        </div>


                        <div class="containersGrid_4 ">

                            <p class="textGrids ">SUV</p>

                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>

</ion-content>