.helperTextRecovry {
    margin-top: -3px !important;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 18px;
    color: #676767;
    align-items: center;
}

.alingLoginBtn {
    position: fixed;
    bottom: 3%;
}

.itemInput {
    margin-top: -3vh !important;
    margin-left: -5vw;
}