<div class="headerItems">

    <div style="display: flex; flex-direction: row; align-items: center;">
        <div>
            <img class="logoLogin" src="../../../assets/logoHybria.png" alt="Hybria_logo">
        </div>
        <div>
            <img class="titleLogo" src="../../../assets/Hybria.png" alt="HYBRIA">
        </div>

    </div>


    <div>
        <p class="loginBtn" (click)="onClickLogin()">LOGIN</p>
    </div>

</div>

<ion-content>

    <div class="paddinContent">
        <div>
            <p class="titleText">
                ¡Empecemos Ahora!
            </p>
        </div>

        <div>
            <p class="subtitleText">
                Llego el momento de estrenar.
            </p>
        </div>



        <div>
            <img class="backGroundCarLogin" src="../../../assets/Brand.png" alt="">
        </div>

        <div class="alingLoginBtn">
            <ion-button strong="true" class="btnLogin" (click)="onClickSingUp()" expand="block" fill="solid" shape="round">
                SING UP
            </ion-button>


        </div>

    </div>



</ion-content>